@use 'base'
@use 'navbar'
@use 'button'
@use 'textbox'

html, body
  margin: 0
  font-size: 12pt

#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: base.$default-font-color
  margin: 0
  padding: 0

@mixin for-phone-screen
  @media (max-width: 768px)
    @content

div.container
  $navbar-height: 52px
  $container-padding-topbottom: 50px
  @include base.container-width
  height: calc(100vh - $navbar-height - 2*$container-padding-topbottom)
  padding-top: $container-padding-topbottom
  padding-bottom: $container-padding-topbottom
  overflow-y: scroll

  @include for-phone-screen
    @include base.container-width($width: 400px)

select
  @include base.basic-element-styles
  border: 1px solid base.$default-color
  background: none

  &:focus
    @include base.focus-outline($color: base.$primary-color)

::-webkit-scrollbar
  width: 12px

::-webkit-scrollbar-track
  margin: 12px 0px

::-webkit-scrollbar-thumb
  background: rgba(base.$scrollbar-thumb-color, 0.8)
  border-radius: 6px