@use 'base'
@use 'navbar'
@use 'button'
@use 'textbox'

*
  box-sizing: border-box

html, body
  margin: 0
  font-size: 12pt
  user-select: none
  height: 100%

#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: base.$default-font-color
  margin: 0
  padding: 0
  display: grid
  grid-auto-rows: max-content auto
  height: 100%

.view-container
  overflow-y: auto

.container
  padding: 1.5rem

select
  @include base.basic-element-styles
  border: 1px solid base.$default-color
  background: none

  &:focus
    @include base.focus-outline($color: base.$primary-color)

::-webkit-scrollbar
  width: 12px

::-webkit-scrollbar-track
  margin: 12px 0px

::-webkit-scrollbar-thumb
  background: rgba(base.$scrollbar-thumb-color, 0.8)
  border-radius: 6px

img
  user-drag: none
  -webkit-user-drag: none
  user-select: none
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none

hr
  border: none
  border-top: 1px solid lighten(base.$default-color, 20%)
