@use 'base'

input[type="text"], input[type="password"], textarea
  padding: base.$element-padding
  font-family: inherit
  font-size: inherit
  border: 1px solid base.$default-color
  border-radius: base.$element-border-radius
  transition: 0.02s ease-out

  &:focus
    @include base.focus-outline
    outline-color: rgba(base.$primary-color, 50%)

  &:not(:last-child)
    margin-right: base.$element-space