/* Base Styles */
.upload-view {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr 3fr 1fr;
  height: 92vh;
}

.logo-header,
.footer {
  grid-column: 1 / -1;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-header {
  justify-content: flex-start;
  padding-left: 250px;
}

.footer {
  padding: 10px 0;
}

.content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 460px;
}

.drop-area {
  min-height: 300px;
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

/* Typography */
.fa-icon {
  font-size: 50px;
  margin-right: 20px;
}

.bold-text {
  font-weight: bold;
  font-size: 25px;
}

.drop-message-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.gray-text,
.underline {
  color: #aaa;
  font-size: 20px;
}

.underline {
  text-decoration: underline;
}

.or-line {
  color: #aaa;
  font-size: 20px;
  position: relative;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.or-line::before,
.or-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  background-color: #aaa;
  height: 1px;
  transform: translateY(-50%);
}

.or-line::before {
  left: 0;
  margin-left: -50px;
}

.or-line::after {
  right: 0;
  margin-right: -50px;
}

/* Buttons */
.primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.p-margin {
  margin-top: 35px;
}

/* Media Queries */
@media (max-height: 600px) {
  .drop-area {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  .logo-header {
    padding-left: 20px;
  }
}

@media (max-width: 480px) {
  .logo-header {
    padding-left: 10px;
  }
}
